# Ignore everything
*

# But not these files...
!.gitignore # Don't ignore the .gitignore file itself
!*.py       # Allow Python files
!*.txt      # Allow text files
!*.md       # Allow Markdown files

